/* General page wide styling */
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: sans-serif;
}

/* Header Styling */

header {
  background-color: #993366;
  /* Fix the header position */
  position: fixed;
  width: 100vw;
  height: 75px;
  /* setup header item alignment */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Styling of the header links */
header a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  padding: 20px;
}
.logo {
  /* Make sure the logo isn't too big. */
  height: 50px;
  width: 50px;
}
.login-link {
  /* Login Link shouldn't show up on a login page */
  visibility: hidden;
}

/* Login/Registration Form Styling */

.login-register {
  background-color: white;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-heading {
  text-align: center;
  /* Give space for the header */
  margin-top: 75px;
}

.textbox {
  border-style: none;
  border-bottom-style: solid;
  margin: auto 5px;
}

/* Login and Resgister Buttons */

.button-container {
  display: flex;
  justify-content: space-around;
}
button {
  background: #993366;
  color: white;
  border-style: none;
  border-radius: 20px;
  padding: 5px 10px;
}

/* Desktop Version Styling Changes */

@media screen and (min-width: 600px) {
  .login-register {
    max-width: 600px;
    border-left-style: solid;
    border-right-style: solid;
  }
}
